doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='icon', href='/images/title.png')
    link(rel='stylesheet', type='text/css', href='/stylesheets/signin.css')
  body
    div(class='home')
      a(href='/', title='首页') 12345电影
    #main_content
      h1 用户登录
      form#login_form(action='/user/signin', method='post')
        input#username(name='username', type='text', placeholder='用户名', maxlength='18', value=user.username)
        p#err_username.error!= error.username

        input#password(name='password', type='password', placeholder='密码', maxlength='12', value=user.password)
        p#err_password.error!= error.password

        button#reset(type='reset') 重置
        button#login(type='submit') 登录
      p#switch 还没有账号？
        a(href='/user/signup', title='注册') 去注册
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/signin.js')
    script(type='text/javascript', src='/javascripts/validator.js')